<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2023 by https://github.com/annysmolyan
 *
 * This module provides video call functionality for an e-commerce store.
 * For license details, please view the GNU General Public License v3 (GPL 3.0)
 * https://www.gnu.org/licenses/gpl-3.0.en.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="belsmol_videocall_manager_complete_save">
        <!-- Send email with generated password to manager on create -->
        <observer
                name="belsmol_videocall_manager_send_manager_account_email_observer"
                instance="BelSmol\VideoCall\Observer\Adminhtml\SendManagerAccountDataEmailObserver"
        />
    </event>
</config>
